body {
	font-family: 'Poppins', sans-serif;
}

/*header*/

.header {
	background-color: #03294C;
	color: #F2F2EF;
	height: 100px;
}
span {
	color:#BA1160;
}
.header a{
	color: #F2F2EF;
	font-size: 20px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #03294C;
	color:#BA1160;
}

.header ul {
	margin-top: 20px;
}

.header .row {
	margin-top: 10px;
}

/*jumbotron*/
.jumbotron {
	background: url(/images/piano.jpg) no-repeat center center; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	height: 700px;
}

.jumbotron h1 {
	text-align: center;
}

/*projects*/

.projects {
	background-color: #F2F2EF;
}

.projects .row {
	margin-bottom: 35px;
}

.projects h1 {
	text-align: center;
	margin: 50px;
	color: #BA1160;
}

.projects img {
	float:right;
}


/*footer*/

.footer {
	background-color: #03294C;
}